body{
    margin:0px;
}
header{
    margin:0px;
    background-color: orange;

}
.headder-logo-wrapper{
    margin:0 auto;
    text-align: center;
    max-width: 1010px;
}
.headder-logo{
    font-size:50px;
}
.tab{
    margin:0 auto;
    text-align:center;
}
.tab-word{
    background-color:pink;
}
.message{
    background-color:greenyellow;
    text-align: center;
}
.tab-word, .tab-url{
    display: inline-block;
    width:50%;
    padding:10px 0px;
    box-sizing:border-box;
    font-size:30px;
}
.url-input-wrapper{
    margin:100px auto;
    width:70%;
    
    text-align: center;
}
.url-input{
    width:70%;
    box-sizing:border-box;
    margin:0px;
}
.url-submit{
    width:30%;
    margin:0px;
    box-sizing:border-box;
}
.contents{
    width:1010px;
    background-color:skyblue;
    margin: 0 auto;
    height:2000px;
}